@model IKSnet.Models.Dokument

@{
    ViewBag.Title = "Dokument löschen";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Dokument löschen</h4>
    </div>

    <div class="panel-body">
        @Html.ActionLink("Zurück auf Dokumentverwaltung", "Index")
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Titel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Beschreibung)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Beschreibung)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GueltigAb)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GueltigAb)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GueltigBis)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GueltigBis)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Dateiname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dateiname)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Löschen" class="btn btn-default" />
            </div>
        }
    </div>
</div>