@model IKSnet.Models.ForgotPasswordViewModel
@{
    Layout = null;
}
@{
    ViewBag.Title = "Kennwort vergessen?";
}
@Styles.Render("~/Content/csstheme")
@Scripts.Render("~/bundles/modernizr")

    <body class="hold-transition login-page">
        <div class="login-box-iks">
            <div class="login-logo">
                <a href="#"><b>IKS</b>net</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Kennwort vergessen?</p>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Geben Sie Ihre E-Mail-Adresse ein.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Senden" />
                        </div>
                    </div>

                }
            </div>

        </div>


        @Scripts.Render("~/bundles/jquerytheme")
        @Scripts.Render("~/bundles/jqueryval")


    </body>