@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Benutzerrolle mutieren";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Benutzerrolle mutieren</h4>
    </div>

    <div class="panel-body">
        @Html.ActionLink("Zurück auf Rollenverwaltung", "Index")
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            <div>
                Rollename
            </div>
            <p>
                @Html.TextBoxFor(model => model.Name)
            </p>
            <input type="submit" value="Speichern" />
        }
