@model IKSnet.Models.Prozesskategorie

@{
    ViewBag.Title = "Detail Prozesskategorie";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Detail Prozesskategorie</h4>
    </div>

    <div class="panel-body">
        @Html.ActionLink("Mutieren", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Zurück auf Prozesskategorieverwaltung", "Index")
        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Bezeichnung)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bezeichnung)
            </dd>

        </dl>
    </div>
</div>