@model IEnumerable<IKSnet.Models.Aufgabe>

@{
    ViewBag.Title = "Aktive Aufgabe";
}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Aktive Aufgabe</h4>
        </div>

        <div class="panel-body">
            <p>
                @Html.ActionLink("Neue Aufgabe erfassen", "Create") |
                @Html.ActionLink("Erledigte Aufgaben anzeigen", "ErledigtIndex")
            </p>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Titel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Beschreibung)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationUser.BenutzerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Faellig)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Kontrolle.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Kommentar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Erledigt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Dokument)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Visum)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                    @foreach (var item in Model)
                    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beschreibung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.BenutzerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faellig)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kontrolle.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kommentar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Erledigt)
                </td>
                <td>
                    <a href="@Url.Action("Show", "Aufgabe", new { id = item.ID })">@Html.DisplayFor(modelItem => item.Dokument)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visum)
                </td>
                <td>
                    @Html.ActionLink("Abschliessen", "CloseEdit", new { id = item.ID }) |
                    @Html.ActionLink("Mutieren", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Löschen", "Delete", new { id = item.ID })
                </td>
            </tr>
                    }

            </table>
    </div>
</div>